//主配色变量在element-variables文件中
@import "element-variables.css";
//颜色
@color-primary:#3e3a39;
@color-sub-primary:#fcdf02;
@size-navmenu-height:70px;
@color-white:#fff;
@color-base-gray:#898989;
@color-base-bg:#f7f7f7;
@color-info:#1c8ff5;

//字体大小
@size-large-xx:20px;
@size-large-x:18px;
@size-large:16px;
@size-medium:14px;
@size-small:12px;

.t-danger{color:var(--color-danger)}
.t-info{color:var(--color-info)}
.t-primary{color:var(--color-primary)}
.t-success{color:var(--color-success)}
.t-warning{color:var(--color-warning)}
